h1 {
  color: white;
}
.navbar-nav {
padding-top:8px;
} 
.row {
  width: 100%;
}
#nameTop {
  padding-left: 20px;
}
body {
  background-image: url("../images/background.jpg");
}
#content {
  margin-top: 40px;
  background: white;
  border: 2px solid rgb(102, 102, 102);
  padding-top: 15px;
}

#secHead {
  padding-left: 15px;
}

.portimg {
  margin-top: 15px;
  padding-left: 15px;
}
img {
  margin-top: 10px;
}
.imgOver{
  position: absolute;
  bottom: 20px;
  width:266px;
  text-align: center;
  color:white;
  background:rgb(102, 102, 102);
  padding: 10px;
}
.subcolor{
  background:#ef7e51;
  border-color: rgb(102, 102, 102);
  border-width: 2px;
}
nav.navbar.navbar-expand-sm.bg-dark.navbar-dark{

  padding-left:20px;
  padding-right:20px;

}