h1 {
  color: white;
}
.navbar-nav {
  padding-top: 8px;
}
.row.navRow{
  width:100%;
}

body {
  background-image: url("../images/background.jpg");
}
#content {
  margin-top: 40px;
  background: white;
  border: 2px solid rgb(102, 102, 102);
  padding-top: 15px;
  padding-bottom:15px;
  margin-bottom:40px;
}
#secHead {
  padding-left: 15px;
}
.portImg {
  margin-top: 15px;
  width:calc(100%);
}
img {
  margin-top: 6px;
  
}
.imgOver {
  
  position: absolute;
  bottom: 20px;
  width: calc(100% - 30px);
  text-align: center;
  color: white;
  background: rgb(102, 102, 102);
  padding-top: 10px;
  padding-bottom:10px;
}
.subcolor {
  background: #ef7e51;
  border-color: rgb(102, 102, 102);
  border-width: 2px;
}


@media (max-width:768px){
  .nameColumn{
text-align: center;
  }
}
.portLink{
  font-display:normal;
  color:white;
}
.portLink:hover{
  color:#ef7e51;
}